*.ali
*.class
*.d
*.o
*~
.*.sw?
/.clang_complete
/.configmake-recursion
/Build.java
/FlexLexer.h
/_src_.c
/_src_.z.c
/build.h
/config.h
/config.log
/config.make
/libtest-vsensorsdemo.a
/obj/
/valgrind_*.log
_ada-stub_.ad[bs]
